.text-center {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: .8rem;
}

.columnas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: .8rem;
}