body{
  background-color: rgb(238, 231, 94);
}


h1{
  font-size: 115%;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
}

.flex-container > div {
  width: 150px;
  text-align: center;
  line-height: 23px;
  font-size: 20px;
}


.caja{
  float:left;
}

.fondo{
  float: left;
  background-color: rgb(233, 196, 116);
  width: 70%;
}

.fondo > img{
  width: 100%;
}


.lista{
  float: left;
  background-color: rgb(240, 207, 100);
  width: 30%;
  text-align: center;
}

@media (max-width: 800px){
  .fondo{
    float: left;
    background-color: rgb(233, 196, 116);
    width: 100%;
  }

  .lista{
    float: left;
    background-color: rgb(240, 207, 100);
    width: 100%;
    text-align: center;
  }
}

.lista2{
  text-decoration: underline;
  text-align:center;
}

#banda{
text-align: center;
background-color:rgb(241, 179, 97);
padding: 50px;
}

